html {
  font-family: "Abhaya Libre", serif;
}

.masthead {
  background-color: #423ca3;
}

.logo {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.btn {
  background-color: #15114c;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #15114c;
}

.nav {
  text-align: center;
}

li {
  display: inline-block;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .btn {
    text-align: center;
  }

  .nav {
    text-align: center;
  }

}
